.work-title {
    font-size: 13vw;
    position: relative;
    top: 10%;
    z-index: 1;
    margin-bottom: 40vh;
}

#page-1 {
    height: fit-content;
}


#gooey {
    height: 50vw;
    width: 50vw;
    top: 20%;
    left: 30%;
    opacity: .9;
    position: absolute;

}

#work-list-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5vw;
    align-items: center;
    position: relative;
    top: -30vh;
    height: fit-content;
    margin-left: 1vw;
}



#work-list-container .list {
    width: calc(100% / 3 - 5vw);
    background-color: #dadada;
    height: 20vw;
    border-radius: 20px;
    z-index: 1;
    overflow: hidden;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#work-list-container img {

    height: 100%;
    width: 100%;
}

#work-list-container .list h3 {
    position: absolute;
    z-index: 9;
    color: #fff;
    bottom: 0;
    text-align: center;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

@media (max-width: 920px) {

    .work-title {
        font-size: 16vw;
        position: relative;
        top: 10%;
        z-index: 1;
        margin-bottom: 35vh;
        padding: 0 3vw;
    }

    #work-list-container {
        margin-left: 0;
    }


    #work-list-container {

        height: fit-content;
        position: relative;
        padding: 0 3vw;
        align-items: center;
        justify-content: space-between;
    }

    #work-list-container .list {
        width: 100%;
        height: 40vh;
        margin: 0 auto;
    }
}